<div class="container-grupo-produtos">
    <div class="container-title">
        <div class="div-button-back">

            <button class="btn btn-success fw-bold">Voltar</button>

        </div>
        <div class="div-input-search">
            <div class="internal-container-input-search">
                <input class="input-search" placeholder="Pesquisar" />
                <div class="icon-lupa"></div>
            </div>
        </div>
        <div class="div-button-new">

            <button class="btn btn-warning fw-bold">Novo</button>

        </div>
    </div>

    <div class="container-pagination">
        <div class="div-pagination">
            <div class="div-pagination-internal">
                <pagination-controls (pageChange)="page = $event" class="pagination text-dark"></pagination-controls>
            </div>
        </div>
        <div class="div-dropdown">
            <div class="div-pagination-setting">
                <label class="label-itens">Itens por página:</label>
                <select class="select-pagination" (change)="onItemsPerPageChange($event)" [value]="itemsPerPage">
                    <option *ngFor="let option of pageSizeOptions" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="div-table">
        <div class="div-internal-table">
            <table border="1" class="table-grupoprodutos">
                <thead>
                    <tr class="titulo-table">
                        <th class="rounded-left">Id</th>
                        <th class="">Descrição</th>
                        <th class="rounded-right">Usuário</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="linha"
                        *ngFor="let categoriaResponse of listCategorias | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                        <td class="rounded-left">{{categoriaResponse.idGrupoProduto}}</td>
                        <td class="click">{{categoriaResponse.descricaoGrupoProduto}}</td>
                        <td class="rounded-right">{{categoriaResponse.nomeUsuario}}</td>
                    </tr>
                </tbody>
            </table>
            <ul id="profile-dropdown" mdbDropdownMenu class="dropdown-menu hidden image-container" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item">Editar</a>
                </li>
                <li>
                  <a class="dropdown-item">Deletar</a>
                </li>
              </ul>
        </div>
    </div>
</div>