.layout-container {
  display: flex;
  height: 100vh;
}

app-sidebarprodutor {
  width: 200px;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

app-homebarprodutor {
  width: 100%;
  margin: 0;
  padding: 1% 0 1% 8%;
}

.content-area {
  flex-grow: 1;
  margin-top: 2vh;
  margin-left: 10vh;
  padding: 1% 2%;
  background-color: #ffffff;
}
