.layout-container, .homebarprodutor, .content-area, .sidebarprodutor {
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}


  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .sidebarprodutor {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .homebarprodutor {
    margin: 4px auto 10px calc(250px);
    width: 980px;
    height: 60px;
  }

  .content-area {
    margin: 4px auto 10px calc(250px);
    width: 980px;
    height: 530px;
  }
