div {
    display: flex;
    align-items: flex-start;
  }
  
  app-sidebarprodutor {
    width: 200px;
  }
  
  app-homebarprodutor {
    flex-grow: 1;
    margin-left: 8%;
    margin-top: 2%;
    align-self: flex-start;
  }
  
  
  router-outlet {
    margin-top: 20px;
  }
  