<div class="container-demandas">
  <div class="d-flex flex-column">
    <div *ngIf="demandaResponseUnique">
      <div class="fw-bold">
        Descrição: {{demandaResponseUnique.descricao}}
      </div>
      <div class="d-flex">
        <div class="d-flex align-items-center">
          <div class="caixinha">
            Id: {{ demandaResponseUnique.id }}
          </div>
        </div>
        <div class="flex-grow-1"></div>
        <div class="drop">
          <div class="button-container mt-auto d-flex justify-content-end">
            <button class="btn btn-secondary" (click)="toggleDropdown(0, $event)">Ações</button>
          </div>
          <div *ngIf="isDropdownOpen[0]" class="dropdown">
            <ul>
              <li (click)="opcaoSelecionada('EstenderPrazo')"
                  [class.disabled]="demandaResponseUnique.statusDemanda === 'CONCLUIDA'">Editar</li>
              <li
                (click)="opcaoSelecionada('Cancelar')"
                [class.disabled]="isCancelarDisabled()">
                Cancelar Demanda
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="margin-bottom margin-top margin-right">
          Data de criação: {{ demandaResponseUnique.dataCriacao | date:'dd/MM/yyyy hh:mm:ss' }}
        </div>
        <div class="margin-top margin-left">
          Prazo máximo: {{ demandaResponseUnique.prazoMaximo | date:'dd/MM/yyyy' }}
        </div>
      </div>
      <div [ngClass]="getStatusClass(demandaResponseUnique.statusDemanda)">
        {{ demandaResponseUnique.statusDemanda }}
      </div>
    </div>
    <div class="produtos-list">
      <div class="produto" *ngFor="let demandaproduto of demandaprodutoassociadosunique; let i = index" [ngClass]="{'zebrado': i % 2 === 0}">
        <div class="d-flex">
          <div class="produto-id mt-3">ID: {{ demandaproduto.idDemandaProduto }}</div>
          <div class="produto-nome mt-3">Produto: {{ demandaproduto.produtoPrefeitura }}</div>
          <div class="flex-grow-1"></div>
          <div class="fw-bold mt-3 produto-atendido">Atendido: {{demandaproduto.saldo}}%</div>
          <div class="flex-grow-1"></div>
          <div class="button-container mt-auto justify-content-end">
            <div class="produto-quantidade">Quantidade: {{ demandaproduto.quantidade }}{{demandaproduto.unidadeMedida}}</div>
            <div class="produto-valor">Valor Unitário: R{{ demandaproduto.valorPrefeitura | currency }}</div>
          </div>
          <div>
            <button class="btn btn-warning mt-3 ms-5" (click)="abrirModal2(demandaproduto.idDemandaProduto)">
              Ver atendimento
            </button>

          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="valor-total">
        <label>Total: {{ demandaResponseUnique.valorTotalPrefeitura | currency:'BRL' }}</label>
      </div>
    </div>
  </div>
</div>

<!-- Modal para estender prazo -->
<div *ngIf="mostrarModal" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Estender Prazo</h5>
        <button type="button" class="close" (click)="fecharModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" [(ngModel)]="descricao" class="form-control mb-2">
        <label for="novaData">Nova Data:</label>
        <input type="date" id="novaData" [(ngModel)]="novaData" class="form-control mb-2"
               [ngModelOptions]="{ standalone: true }" [value]="demandaResponseUnique.prazoMaximo | date:'yyyy-MM-dd'"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="fecharModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarSalvar()">Salvar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal para Ver Atendimento -->
<div *ngIf="mostrarModal2" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atendimentos</h5>
        <button type="button" class="close" (click)="fecharModal2()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center mb-2 header">
          <div class="ms-5 ">ID</div>
          <div class="ms-3 content">Produtor</div>
          <div class="ms-3 content">CNPJ</div>
          <div class="ms-3 content">Quantidade</div>
          <div class="ms-3 content">Ação</div>
        </div>
        <div *ngFor="let item of quantidadeAtendida">
          <div class="d-flex align-items-center mb-2 row-item">
            <div class=" ">{{ item.id }}</div>
            <div class="ms-3 content">{{ item.produtor }}</div>
            <div class="ms-3 content">{{ item.cnpj }}</div>
            <div class="ms-3 content">{{ item.quantidade}}{{item.unidadeMedida}}</div>
            <div class="ms-3 content">
              <button class="btn btn-danger btn-sm" (click)="excluirAtendimento(item.id, item.quantidade)">
                Excluir
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="fecharModal2()">Fechar</button>
      </div>
    </div>
  </div>
</div>
