@media(max-width: 263.60px) {}

@media(min-width: 263.60px) and (max-width: 329.50px) {}

@media(min-width: 329.50px) and (max-width: 439.33px) {}

@media(min-width: 439.33px) and (max-width: 527.20px) {}

@media(min-width: 527.20px) and (max-width: 659px) {}

@media(min-width: 659px) and (max-width: 753.14px) {}

@media(min-width: 753.14px) and (max-width: 878.67px) {}

@media(min-width: 878.67px) and (max-width: 1054.40px) {}

@media(min-width: 1054.40px) and (max-width: 1198.18px) {}

@media(min-width: 1198.18px) and (max-width: 1318px) {}

@media(min-width: 1318px) and (max-width: 1464.44px) {

    .container-grupoprodutos-edit-new {
        margin-top: 50px;
        border-radius: 15px;
        box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.5);
        padding: 20px;
        height: 100%;
    }

    .input-group-cadastro {
        display: grid;
        place-items: center;
    }
    
    .label-title{
        padding: 20px;
    }


    .all-inputs {
        width: 60vh;
        margin: 20px;
        border: none !important;
        border-bottom: 1px solid #000 !important;
        background-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .all-inputs-menor {
        width: 23vh;
        margin: 20px;
        border: none !important;
        border-bottom: 1px solid #000 !important;
        background-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .div-button{
        padding-left: 60%;
        padding-top: 10%;
    }

    .button-sucesso{
        margin: 20px;

    }

    .select-pagination {
        width: 50%;
        border-radius: 4px; 
        border: 1px solid #ccc;
        background-color: hsl(210, 17%, 98%); 
        font-size: 16px; 
        height: 50px;
      }
      
      .select-pagination:focus {
        border-color: #007bff;
        outline: none; 
      }

      .div-select-categoria{
        width: 500px; 
        margin-top: 50px;
      }

      .label-categoria{
        margin-top: 10px;
        margin-right: 10px;
      }
      
      
      

}

@media(min-width: 1464.44px) and (max-width: 1647.50px) {}

@media(min-width: 1647.50px) and (max-width: 1757.33px) {}

@media(min-width: 1757.33px) and (max-width: 1977px) {}

@media(min-width: 1977px) and (max-width: 2636px) {}

@media(min-width: 2636px) and (max-width: 3954px) {}

@media(min-width: 3954px) and (max-width: 5272px) {}

@media(min-width: 5272px) {}