.container-sidebar {
    width: 16%;
    height: 100vh;
}

.sidebar {
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    width: 250px;
    padding: 20px;
    transition: width 0.3s;
    overflow-y: auto;
    min-height: 100vh;
    height: auto;
}



.nav-item {
    display: block;
    align-items: center;
    padding: 10%;
    cursor: pointer;
    transition: background-color 0.3s, padding-left 0.3s;
    border-radius: 15px;
}

.cor-branca-icon{
  color: #fff;
}

.nav-item:hover {
    background-color: #0da90a;
    padding-left: 20px;
  color: #fff;
}

.icon {
    padding-right: 10px;
    font-size: 16px;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    color: inherit;
}

.sub-menus {
    background-color: #21CF1D;
    border-radius: 15px;
}

.bt-interno{
  background-color: #21CF1D;
}

.main-button {
    display: block;
    align-items: center;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #21CF1D;
}

.submenu {
    //padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}



    .sidebar {
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        width: 230px;
        padding: 20px;
        transition: width 0.3s;
        height: 100vh;
        position: fixed;
    }

    .fonte{
        font-size: 15px;
    }

    .nav-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 12px;
        text-align: left;
        color: inherit;
    }


