<div class="container-sidebar">
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <button class="main-button d-flex align-items-center">
      <img src="../../../../assets/icons/iconSideBar.png" alt="Icone de Usuário" class="icon-main m-3 icon">
      <span class="d-none d-md-inline fonte">Eco-Feira</span>
    </button>

    <div class="input-group nav-item" (click)="toggleSubmenu('cadastro')" [class.active]="activeSubmenu === 'cadastro'">
      <i class="fa-solid fa-folder-plus icon"></i>
      <button class="nav-button">Cadastros</button>
    </div>
    <div class="sub-menus" *ngIf="activeSubmenu === 'cadastro'" [class.active]="activeSubmenu === 'cadastro'">
      <div class="submenu">
        <div class="input-group nav-item bt-interno cor-branca-icon" [routerLink]="['/admin/prefeitura/produto']">
          <i class="fa-solid fa-boxes-stacked icon"></i>
          <button class="nav-button" style="color: #fff;">Produto</button>
        </div>
        <div class="input-group  nav-item bt-interno cor-branca-icon" [routerLink]="['/admin/prefeitura/usuarios']">
          <i class="fa-solid fa-user icon"></i>
          <button class="nav-button" style="color: #fff;">Usuário</button>
        </div>
      </div>
    </div>

    <div class="input-group mt-3 nav-item" (click)="toggleSubmenu('demanda')" [class.active]="activeSubmenu === 'demanda'">
      <i class="fa-solid fa-apple-whole icon"></i>
      <button class="nav-button">Demandas</button>
    </div>
    <div class="sub-menus" *ngIf="activeSubmenu === 'demanda'" [class.active]="activeSubmenu === 'demanda'">
      <div class="submenu">
        <div class="input-group  nav-item bt-interno cor-branca-icon" [routerLink]="['/admin/prefeitura/demanda']">
          <i class="fa-solid fa-eye icon"></i>
          <button class="nav-button" style="color: #fff;">Ver</button>
        </div>
        <div class="input-group nav-item bt-interno cor-branca-icon" [routerLink]="['/admin/prefeitura/demanda/gerir']">
          <i class="fa-solid fa-user-tie icon"></i>
          <button class="nav-button" style="color: #fff;">Gerir</button>
        </div>
      </div>
    </div>

    <div class="input-group mb-3 mt-3 nav-item" [routerLink]="['/admin/prefeitura/ajustes']">
      <i class="fa-solid fa-gear icon"></i>
      <button class="nav-button">Ajustes</button>
    </div>

    <div class="input-group mb-3 nav-item" (click)="deslogar()">
      <i class="fa-solid fa-right-from-bracket icon"></i>
      <button class="nav-button">Sair</button>
    </div>
  </div>
</div>
