.container-sidebar {
    width: 16%;
    height: 100vh;
}

.sidebar {
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    width: 250px;
    padding: 20px;
    transition: width 0.3s;
    overflow-y: auto;
    min-height: 100vh;
    height: auto;
}

.nav-item {
    display: block;
    align-items: center;
    padding: 10%;
    cursor: pointer;
    transition: background-color 0.3s, padding-left 0.3s;
    border-radius: 15px;
}

.nav-item.active {
  background-color: #0da90a;
  color: #fff;
  padding-left: 20px;
  transition: background-color 0.3s, padding-left 0.3s;
  margin-bottom: 0;
}

.sub-menus.open {
  max-height: 500px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.cor-branca-icon{
  color: #fff;
}

.nav-item:hover {
    background-color: #0da90a;
    padding-left: 20px;
  color: #fff;
}

.nav-item.active {
  background-color: #0a9c0d; /* Cor de fundo para o botão pai quando ativo */
  color: #fff; /* Altere a cor do texto se necessário */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-item.active:hover {
  background-color: #0da90a; /* Cor ao passar o mouse quando o submenu está ativo */
}

.icon {
    padding-right: 10px;
    font-size: 16px;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    color: inherit;
}

.sub-menus {
  background-color: #21CF1D;
  border-radius: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.sub-menus.active {
  max-height: 500px; /* Expande o submenu com animação (ajuste conforme o conteúdo) */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bt-interno{
  background-color: #21CF1D;
}

.main-button {
    display: block;
    align-items: center;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #21CF1D;
}

.submenu {
    //padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}



    .sidebar {
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        width: 230px;
        padding: 20px;
        transition: width 0.3s;
        height: 100vh;
        position: fixed;
    }

    .fonte{
        font-size: 15px;
    }

    .nav-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 12px;
        text-align: left;
        color: inherit;
    }


