<nav class="navbar navbar-light bg-light sombra largura">
  <div class="container-fluid homebar">
    <form class="d-flex input-group w-auto">
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
      <input type="pesquisar" class="form-control rounded no-border" style="width: 115vh;" placeholder="Pesquisar" aria-label="Pesquisar" />
      <div class="d-flex align-items-center ms-auto">
        <a class="nav-link dropdown-toggle hidden-arrow me-3" (click)="toggleNotification()" id="navbarDropdownMenuLink"
          role="button" mdbDropdownToggle aria-expanded="false">
          <div id="notification-container">
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger notification-container" id="number"></span>
          </div>
        </a>
        <ul mdbDropdownMenu class="dropdown-menu hidden notification-container" aria-labelledby="navbarDropdownMenuLink"
          id="notification-dropdown">
          <li>
            <a class="dropdown-item" href="/admin/produtor">NOTÍCIAS</a>
          </li>
          <li>
            <a class="dropdown-item" href="/admin/produtor">NOTÍCIAS</a>
          </li>
          <li>
            <a class="dropdown-item" href="/admin/produtor">NOTÍCIAS</a>
          </li>
        </ul>
        <a class="nav-link dropdown-toggle hidden-arrow" (click)="toggleImage()" id="navbarDropdownMenuLink"
          role="button" mdbDropdownToggle aria-expanded="false">
          <div id="image-container">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp" style="padding-bottom: 10px;"
              class="rounded-circle" height="50" alt="" loading="lazy" />
          </div>
        </a>
        <ul id="profile-dropdown" mdbDropdownMenu class="dropdown-menu hidden image-container"
          aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="/admin/produtor">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="/admin/produtor">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="/admin/produtor">Logout</a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</nav>
