.hidden {
    display: none;
    opacity: 0;
    transform: scale(1.1);
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  #notification-container,
  #image-container {
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
  
  #notification-container:active,
  #image-container:active {
    transform: scale(1.1);
    box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.3);
  }
  
  .nav-link {
    display: inline-flex;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
  
  .nav-link:focus {
    outline: none;
  }
  
  .sombra {
    border-radius: 15px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.3) !important;
  }
  
  .largura {
    margin-top: 0.5vh;
    width: 140vh;
    height: 10vh;
    padding: 3vh;
  }
  
  .no-border {
    border: none !important;
    box-shadow: none !important;
  }
  
  .no-border:focus {
    border: none !important;
    box-shadow: none !important;
  }
  
  .dropdown-menu {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    top: 40px;
    right: 20px;
    position: absolute;
    margin-top: 10px; 
  }
  
  .dropdown-menu .dropdown-item {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
  }
  
  .dropdown-menu .dropdown-item:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  #notification-dropdown {
    margin-top: 10px;
  }
  
  #profile-dropdown {
    margin-top: 10px;
  }


  /* Estilos para telas grandes (desktops) */
@media (min-width: 992px) {
    .navbar {
      padding: 1rem;
    }
    
    .input-group {
      width: 100%;
    }
    
    .form-control {
      width: 115vh;
    }
    
    .dropdown-menu {
      top: 60px;
      right: 20px;
      margin-top: 10px;
    }
    
    .nav-link {
      font-size: 1rem;
    }
    
    #notification-container, #image-container {
      margin-top: 0;
    }
  }
  
  /* Estilos para telas médias (tablets) */
  @media (max-width: 991px) {
    .form-control {
      width: 100%;
    }
    
    .dropdown-menu {
      top: 50px;
      right: 10px;
    }
    
    .nav-link {
      font-size: 0.9rem;
    }
    
    #notification-container, #image-container {
      margin-top: 0;
    }
  }
  
  /* Estilos para telas pequenas (celulares) */
  @media (max-width: 767px) {
    .navbar {
      padding: 0.5rem;
    }
    
    .input-group {
      flex-direction: column;
    }
    
    .form-control {
      width: 100%;
    }
    
    .dropdown-menu {
      top: 40px;
      right: 0;
      width: 100%;
    }
    
    .nav-link {
      font-size: 0.8rem;
    }
    
    #notification-container, #image-container {
      margin-top: 0;
    }
    
    .d-flex.align-items-center {
      justify-content: space-between;
    }
  }
  