.container-demandas {
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.5);
}

.filter{
  margin-top: 40px;
  gap: 250px;
}

.select{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  display: flex;
  border-bottom: 1px solid #000 !important;
  background-color: transparent !important;
  outline: none !important;
  margin-bottom: 15px
}

.select-pagination {
  width: 100px;
  border: none !important;
  outline: none !important;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none !important;
}

.select-pagination:focus {
  width: 100px;
  border: none !important;
  outline: none !important;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none !important;
}

.table-grupoprodutos {
  width: 100%;
  border: none;

}

.rounded-left {
  border-radius: 10px 0px 0px 10px;
}

.rounded-right {
  border-radius: 0px 10px 10px 0px;
}

.linha {
  height: 30px;
}

th,
td {
  padding: 5px 5px 10px 20px !important;
}

tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

tr:nth-child(even) td {
  background-color: #e0e0e0;
}



.div-internal-table {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.table-grupoprodutos {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #afafaf;
  color: white;
  z-index: 1;
}

.table-body tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

.table-body tr:nth-child(even) td {
  background-color: #e0e0e0;
}

.status-aberta {
  display: inline-block;
  width: 50px;
  height: 10px;
  background-color: green;
}

.status-concluida {
  display: inline-block;
  width: 50px;
  height: 10px;
  background-color: blue;
}

.status-cancelada {
  display: inline-block;
  width: 50px;
  height: 10px;
  background-color: red;
}

.container-select-filter{
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.info-icon {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
  color: #007bff;
}

.info-icon:hover {
  color: #0056b3;
}

.tooltip {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  width: 200px;
  white-space: nowrap;
  pointer-events: none;
}

.btn-check-aberta {
  background-color: green;
  color: white;
}

.btn-check-cancelada {
  background-color: red;
  color: white;
}

.btn-check-concluida {
  background-color: blue;
  color: white;
}

.btn-check-aberta:hover {
  background-color: #02a202;
  color: white;
}

.btn-check-cancelada:hover {
  background-color: #fa1a1a;
  color: white;
}

.btn-check-concluida:hover {
  background-color: #2222ff;
  color: white;
}

input[type="radio"]:checked + .btn-check-aberta {
  background-color: #008000;
  border: 2px solid #004d00;
  color: white;
}

input[type="radio"]:checked + .btn-check-cancelada {
  background-color: #cc0000;
  border: 2px solid #990000;
  color: white;
}

input[type="radio"]:checked + .btn-check-concluida {
  background-color: #0000cc;
  border: 2px solid #000099;
  color: white;
}
