<div class="container-demandas">

  <div class="d-flex filter">
    <pagination-controls (pageChange)="page = $event" class="pagination text-dark"></pagination-controls>
    <div class="">
      <label class="label">Itens por página:</label>
      <select class="select" (change)="onItemsPerPageChange($event)" [value]="itemsPerPage">
        <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div class="margin-button-new">
      <button class="btn btn-warning fw-bold" [routerLink]="['/admin/prefeitura/demanda/new']">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>


  <div class="container-select-filter">
    <div class="btn-group">
      <input
        mdbRadio
        type="radio"
        class="btn-check"
        name="options"
        id="option1"
        autocomplete="off"
        [checked]="true"
        (change)="filterByStatus('TODOS')"
      />
      <label class="btn btn-secondary" for="option1">
        <i class="fa-sharp-duotone fa-solid fa-check-double"></i> &nbsp;Todos</label>

      <input
        mdbRadio
        type="radio"
        class="btn-check "
        name="options"
        id="option2"
        autocomplete="off"
        (change)="filterByStatus('ABERTA')"
      />
      <label class="btn btn-secondary btn-check-aberta" for="option2">
        <i class="fa-solid fa-folder-open"></i>&nbsp;Aberta</label>

      <input
        mdbRadio
        type="radio"
        class="btn-check"
        name="options"
        id="option3"
        autocomplete="off"
        (change)="filterByStatus('CONCLUIDA')"
      />
      <label class="btn btn-secondary btn-check-concluida" for="option3">
        <i class="fa-solid fa-folder-closed"></i> &nbsp; Concluída</label>

      <input
        mdbRadio
        type="radio"
        class="btn-check "
        name="options"
        id="option4"
        autocomplete="off"
        (change)="filterByStatus('CANCELADA')"
      />
      <label class="btn btn-secondary btn-check-cancelada" for="option4">
        <i class="fa-solid fa-ban"></i>&nbsp;Cancelada</label>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex flex-row gap-3 header">
      <div class="column title column-id">Id</div>
      <div class="column title column-descricao">Descrição</div>
      <div class="column title column-prazomaximo">Prazo Máximo</div>
      <div class="column title column-valor">Valor</div>
      <div class="column column-valor"></div>
    </div>
    <div class="overflow-y-scroll table">
      <div class="d-flex flex-row gap-3"*ngFor="let demandaResponse of filteredDemandas | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
        <div class="column column-id">{{ demandaResponse.idDemanda }}</div>
        <div class="column column-descricao">{{ demandaResponse.descricao }}</div>
        <div class="column column-prazomaximo">{{demandaResponse.prazoMaximo | date:"dd/MM/yyyy"}} </div>
        <div class="column column-valor">{{ demandaResponse.valorTotalPrefeitura }}</div>
        <span [ngClass]="getStatusClass(demandaResponse.statusDemanda)"></span>
        <span class="info-icon" (mouseenter)="showTooltip[demandaResponse.idDemanda] = true"
              (mouseleave)="showTooltip[demandaResponse.idDemanda] = false">
          <i class="fas fa-info-circle"></i>
          <div class="tooltip" *ngIf="showTooltip[demandaResponse.idDemanda]">
            Verde: ABERTA<br>Azul: CONCLUÍDA<br>Vermelha: CANCELADA
          </div>
        </span>
      </div>
    </div>
  </div>


</div>
