.container-button{
    margin: 10px;
    //background-color: red;
}

.button{
    margin-left: 550px
}

.all-inputs {
    width: 70vh;
    margin: 20px;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.align{
    margin-left: 50px;
}

.margem{
    margin-left: 50px;
}

.all-inputs-mini {
    width: 20vh;
    margin: 20px;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}
.linha{
    width: 60vh;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    margin-right: 25px;
}

.margin{
    margin-top: 18px;
}