<div class="container-grupoprodutos-edit-new">
    <div class="input-group-cadastro">
        @if (categoriaResponseUnique.idGrupoProduto > 0) {
        <label class="fw-bold label-title">EDIÇÃO DE GRUPO DE PRODUTOS</label>

        }@else {
        <label class="fw-bold label-title">CADASTRO DE GRUPO DE PRODUTOS</label>
        }

        <input type="text" class="all-inputs" [(ngModel)]="categoriaRequest.descricaoGrupo" placeholder="Informe a descrição do grupo" />




        <div class="div-button d-flex">
            <button class="btn btn-info button-sucesso" [routerLink]="['/admin/produtor/grupoprodutos']">Voltar</button>
            @if (categoriaResponseUnique.idGrupoProduto > 0) {
            <button class="btn btn-success button-sucesso" (click)="postput()">Editar dados</button>
            }
            @else {
            <button class="btn btn-success button-sucesso" (click)="postput()">Salvar dados</button>
            }



        </div>

    </div>
</div>