<div class="container-novoacesso">
    <div class="content">
        <form class="form">
            <label class="title">Novo Usuário</label>
            <input type="text" id="usuario" class="form-control input" placeholder="Usuário" />
            <input type="password" id="senha" class="form-control input" placeholder="Senha" />
            <input type="text" id="cnpj" class="form-control input" placeholder="CNPJ" />
            <div class="button-group">
                <button type="submit" class="btn btn-submit">Enviar</button>
                <button type="button" class="btn btn-cancel">Cancelar</button>
            </div>
        </form>
    </div>
</div>
