<div class="container-demandas d-flex">
  <div class=" d-flex justify-content-center align-items-center fw-bold mb-5">Demandas Ao Vivo</div>
  <div class="table-header d-flex">
    <div class="peso-id">ID</div>
    <div class="peso-descricao">Descrição</div>
    <div class="peso-valortotal">Valor Total</div>
    <div class="peso-prazomaximo">Prazo Máximo</div>
    <div class="peso-acoes ms-0">Ações</div>
  </div>
  <div class="internal-container d-flex" *ngFor="let demandasListadas of demandaDtoResponse; let i = index"
       [class.zebra]="i % 2 === 0">
    <div class="peso-id">{{ demandasListadas.idDemanda }}</div>
    <div class="peso-descricao">{{ demandasListadas.descricao }}</div>
    <div class="peso-valortotal">{{ demandasListadas.valorTotalPrefeitura | currency:'BRL' }}</div>
    <div class="peso-prazomaximo">{{ demandasListadas.prazoMaximo | date:'dd/MM/yyyy' }}</div>
    <div class="d-flex gap-1 peso-acoes">
      <div class="d-flex gap-3">
        <button class="btn btn-secondary aceitar" (click)="aceitarDemanda(demandasListadas.idDemanda)">
          <i class="fa-solid fa-check me-1"></i>Aceitar
        </button>
        <button class="btn btn-secondary espiar" (click)="abrirModalEspiar(demandasListadas.idDemanda)">
          <i class="fa-solid fa-eye me-1"></i>Espiar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'show-modal': mostrarModalEspiar}">
  <div class="modal-content">
    <div class="d-flex">
      <h4>Produtos da Demanda</h4>
      <div class="button-fechar">
        <button class="btn btn-secondary btn-fechar" (click)="fecharModalEspiar()">
          <i class="fa-solid fa-xmark"></i>&nbsp;
        </button>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Atendido</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let produto of produtosDemanda">
        <td>{{ produto.produtoPrefeitura }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>{{ produto.valorPrefeitura | currency:'BRL' }}</td>
        <td>{{ produto.saldo}}%</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
