.layout-container,
.homebarprodutor,
.content-area,
.sidebarprodutor {
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  background-color: #eeeeee;
}


.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.sidebarprefeitura {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.content-area {
  margin: 4px 10px 10px calc(250px);
  width: 1090px;
  background-color: white;
  border-radius: 12px;
  height: 530px;
}

