<div class="container-demandas">

  <h4 class="title">Nova demanda</h4>
<div class="labels">
  <div>

    <mdb-form-control>
      <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="gerenciarDemanda.descricao" autocomplete="off"/>
      <label mdbLabel class="form-label" for="form1">Informe a descrição, produto predominante...</label>
    </mdb-form-control>
  </div>

  <div class="form-control mb-1 p-2">
    <label class="form-label" for="calendar">Prazo Máximo</label>
    <input type="date" class="form-control" id="calendar" [(ngModel)]="gerenciarDemanda.prazoMaximo"
           (ngModelChange)="onDateChange($event)" placeholder="Selecione o prazo" />
  </div>

  <div class="select-produtos">
    <ng-select [items]="produtoDtoResponse"
               bindLabel="nome"
               bindValue="id"
               [(ngModel)]="selectNameId"
               [placeholder]="!selectNameId ? 'Selecione um produto' : ''"
               (change)="onProdutoChange($event)" class="select">
    </ng-select>
    <button class="btn btn-info button" (click)="abrirModalQuantidade()">
      <i class="fa-solid fa-plus"></i>&nbsp;
      Adicionar Produto
    </button>
  </div>

  <div class="tabela-container">
    <table class="table">
      <thead class="table-header">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Valor Compra</th>
        <th>Quantidade</th>
        <th>Ação</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let produto of produtosSelecionados">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.valorCompra | currency:'BRL' }}</td>
        <td>{{ produto.quantidade }} {{produto.unidadeMedida}}</td>
        <td>
          <button class="btn btn-danger" (click)="removerProduto(produto.id)">
            Remover
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="button-final">
    <label class="peso-label">Total: {{ calcularValorTotal() | currency:'BRL' }}</label>
    <button class="btn btn-success peso-button" (click)="salvarDemanda()"><i class="fa-solid fa-floppy-disk"></i>&nbsp;
      Salvar
    </button>
  </div>

</div>




  <div class="modal" [ngClass]="{'show-modal': mostrarModal}">
    <div class="modal-content">
      <h4>Informe a quantidade</h4>
      <input type="number" [(ngModel)]="quantidadeProduto" min="1" class="all-inputs-modal"/>
      <button class="btn btn-primary button-confirm" (click)="adicionarProduto()">
        <i class="fa-solid fa-check"></i>&nbsp;Confirmar
      </button>
      <button class="btn btn-secondary" (click)="fecharModal()">
        <i class="fa-solid fa-xmark"></i>&nbsp;Cancelar
      </button>
    </div>
  </div>

</div>

