<div class="container-empresa">
    <div class="text-center">
        <label>Ajustes</label>
    </div>
    <div class="container-fluid margin">
        <input type="text" class="inteiro" placeholder="Nome fantasia" [(ngModel)]="this.empresa.nomeFantasia" />
    </div>
    <div class="container-fluid d-flex">
        <input type="text" class="meio-a-meio" placeholder="Razão social" [(ngModel)]="this.empresa.razaoSocial"/>
        <input type="text" class="meio-a-meio" placeholder="Cnpj" [(ngModel)]="this.empresa.cnpj" mask="00.000.000/0000-00" disabled />
    </div>
    <div class="container-fluid margin">
        <input type="text" class="inteiro" placeholder="Número de telefone" [(ngModel)]="this.empresa.numeroTelefone" mask="(00) 0 0000-0000" />
    </div>
    <div class="container-fluid margin">
        <input type="text" class="inteiro" placeholder="E-mail" [(ngModel)]="this.empresa.email"/>
    </div>
    <div class="container-fluid margin">
        <input type="text" class="inteiro" placeholder="Atividade principal" [(ngModel)]="this.empresa.atividadePrincipal" />
    </div>
    <div class="container-fluid margin">
        <textarea type="text" class="inteiro" placeholder="Descrição" [(ngModel)]="this.empresa.descricao"></textarea>
    </div>
    <div class="container-fluid d-flex">
        <input type="text" class="meio-a-meio" placeholder="Cep" [(ngModel)]="this.empresa.endereco.cep" mask="00.000-000"/>
        <input type="text" class="meio-a-meio" placeholder="Logradouro" [(ngModel)]="this.empresa.endereco.logradouro"/>
        <input type="text" class="meio-a-meio" placeholder="Número" [(ngModel)]="this.empresa.endereco.numero" mask="000000"/>
        <input type="text" class="meio-a-meio" placeholder="Bairro" [(ngModel)]="this.empresa.endereco.bairro"/>
    </div>
    <div class="selects">
      <ng-select [items]="listPais"
                 bindLabel="nome"
                 bindValue="idPais"
                 [(ngModel)]="this.empresa.endereco.cidade.estado.pais.idPais"
                 class="peso"
                 [placeholder]="!this.empresa.endereco.cidade.estado.pais.idPais ? 'Selecione um país' : ''"
                 (click)="listarEstados(); listarCidades(); limparEstado(); limparCidade()"
      >

      </ng-select>

      <ng-select [items]="listEstado"
                 bindLabel="nome"
                 bindValue="idEstado"
                 [(ngModel)]="this.empresa.endereco.cidade.estado.idEstado"
                 class="peso"
                 [placeholder]="!this.empresa.endereco.cidade.estado.idEstado ? 'Selecione um estado' : ''"
                 (click)="listarCidades(); limparCidade()">
      </ng-select>

      <ng-select [items]="listCidade"
                 bindLabel="nome"
                 bindValue="idCidade"
                 [(ngModel)]="this.empresa.endereco.cidade.idCidade"
                 class="peso"
                 [placeholder]="!this.empresa.endereco.cidade.idCidade ? 'Selecione uma cidade' : ''">
      </ng-select>
    </div>

    <div class="div-button d-flex">
        <button class="btn btn-info button-sucesso" [routerLink]="['/admin/produtor/centraldados']">Voltar</button>
        <button class="btn btn-success button-sucesso" (click)="atualizarInformacoes()">Editar dados</button>
    </div>

</div>


<!--[(ngModel)]="categoriaRequest.descricaoGrupo"-->

<!--

<option *ngFor="let categoria of listCategorias" [ngValue]="categoria.idGrupoProduto">
                {{ categoria.idGrupoProduto }} - {{ categoria.descricaoGrupoProduto }}
            </option>
-->
