<div class="container">
        <div class="big-card ">
            <div class="fw-bold">Pedidos no Momento</div>
        </div>
        <div class="small-cards">
            <div class="small-card">
                <div class="fw-bold">Promoções Ativas</div>
            </div>
            <div class="small-card">
                <div class="fw-bold">Promoções Ativas</div>
            </div>
            <div class="small-card">
                <div class="fw-bold">Promoções Ativas</div>
            </div>
            <div class="small-card">
                <div class="fw-bold">Promoções Ativas</div>
            </div>
        </div>
</div>